.bg-img{
    background-image: url("https://image.freepik.com/free-vector/blue-copy-space-digital-background_23-2148821698.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}